<div class="alumni">
  <div class="container">
    <br><br><br><br><br><br><br>
    <h2>DATA SCIENCE ALUMNI</h2>
    <p>Over the course of twelve weeks, the men and women below completed the Metis Data Science Bootcamp, designed and taught by Datascope. Bootcamp students complete five data science projects of increasing independence and scope that iterate over the full question-to-answer process of practical data science.</p>

<p>Below each student's picture is a set of links to the student's portfolio. Each icon corresponds to one of the five in-class projects that the student has completed.</p>
    
    
    <h3>COHORT ONE: DECEMBER 2014</h3>
  
    <div class="row">
      <div class="col-md-3">
        <div class="inner">
          <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg" >
          <h3>ALEX BLOCK</h3>
          <p>Growing up surrounded by lawyers, Alex learned that if you want answers, you need to ask the right questions. He maintains this same inquisitive nature when attacking data problems, always searching for unique approaches that lead to valuable insights. Alex is currently analyzing NBA ticket prices to try to identify and track rivalries between teams.</p><br>
          <div class="row text-center">
            <a hrref="#"><i class="fa fa-linkedin-square fa-3x"></i></a>  <a hrref="#"><i class="fa fa-github fa-3x"></i></a>
          </div>
        </div>
      </div><!-------colmd3---->
      <div class="col-md-3">
        <div class="inner">
          <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg" >
          <h3>ALEX BLOCK</h3>
          <p>Growing up surrounded by lawyers, Alex learned that if you want answers, you need to ask the right questions. He maintains this same inquisitive nature when attacking data problems, always searching for unique approaches that lead to valuable insights. Alex is currently analyzing NBA ticket prices to try to identify and track rivalries between teams.</p><br>
          <div class="row text-center">
            <a hrref="#"><i class="fa fa-linkedin-square fa-3x"></i></a>  <a hrref="#"><i class="fa fa-github fa-3x"></i></a>
          </div>
        </div>
      </div><!-------colmd3---->
       <div class="col-md-3">
        <div class="inner">
          <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg" >
          <h3>ALEX BLOCK</h3>
          <p>Growing up surrounded by lawyers, Alex learned that if you want answers, you need to ask the right questions. He maintains this same inquisitive nature when attacking data problems, always searching for unique approaches that lead to valuable insights. Alex is currently analyzing NBA ticket prices to try to identify and track rivalries between teams.</p><br>
          <div class="row text-center">
            <a hrref="#"><i class="fa fa-linkedin-square fa-3x"></i></a>  <a hrref="#"><i class="fa fa-github fa-3x"></i></a>
          </div>
        </div>
      </div><!-------colmd3---->
       <div class="col-md-3">
        <div class="inner">
          <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg" >
          <h3>ALEX BLOCK</h3>
          <p>Growing up surrounded by lawyers, Alex learned that if you want answers, you need to ask the right questions. He maintains this same inquisitive nature when attacking data problems, always searching for unique approaches that lead to valuable insights. Alex is currently analyzing NBA ticket prices to try to identify and track rivalries between teams.</p><br>
          <div class="row text-center">
            <a hrref="#"><i class="fa fa-linkedin-square fa-3x"></i></a>  <a hrref="#"><i class="fa fa-github fa-3x"></i></a>
          </div>
        </div>
      </div><!-------colmd3---->
    </div><!-------row---->
    
    <br>
    <div class="row">
      <div class="col-md-3">
        <div class="inner">
          <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg" >
          <h3>ALEX BLOCK</h3>
          <p>Growing up surrounded by lawyers, Alex learned that if you want answers, you need to ask the right questions. He maintains this same inquisitive nature when attacking data problems, always searching for unique approaches that lead to valuable insights. Alex is currently analyzing NBA ticket prices to try to identify and track rivalries between teams.</p><br>
          <div class="row text-center">
            <a hrref="#"><i class="fa fa-linkedin-square fa-3x"></i></a>  <a hrref="#"><i class="fa fa-github fa-3x"></i></a>
          </div>
        </div>
      </div><!-------colmd3---->
      <div class="col-md-3">
        <div class="inner">
          <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg" >
          <h3>ALEX BLOCK</h3>
          <p>Growing up surrounded by lawyers, Alex learned that if you want answers, you need to ask the right questions. He maintains this same inquisitive nature when attacking data problems, always searching for unique approaches that lead to valuable insights. Alex is currently analyzing NBA ticket prices to try to identify and track rivalries between teams.</p><br>
          <div class="row text-center">
            <a hrref="#"><i class="fa fa-linkedin-square fa-3x"></i></a>  <a hrref="#"><i class="fa fa-github fa-3x"></i></a>
          </div>
        </div>
      </div><!-------colmd3---->
       <div class="col-md-3">
        <div class="inner">
          <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg" >
          <h3>ALEX BLOCK</h3>
          <p>Growing up surrounded by lawyers, Alex learned that if you want answers, you need to ask the right questions. He maintains this same inquisitive nature when attacking data problems, always searching for unique approaches that lead to valuable insights. Alex is currently analyzing NBA ticket prices to try to identify and track rivalries between teams.</p><br>
          <div class="row text-center">
            <a hrref="#"><i class="fa fa-linkedin-square fa-3x"></i></a>  <a hrref="#"><i class="fa fa-github fa-3x"></i></a>
          </div>
        </div>
      </div><!-------colmd3---->
       <div class="col-md-3">
        <div class="inner">
          <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg" >
          <h3>ALEX BLOCK</h3>
          <p>Growing up surrounded by lawyers, Alex learned that if you want answers, you need to ask the right questions. He maintains this same inquisitive nature when attacking data problems, always searching for unique approaches that lead to valuable insights. Alex is currently analyzing NBA ticket prices to try to identify and track rivalries between teams.</p><br>
          <div class="row text-center">
            <a hrref="#"><i class="fa fa-linkedin-square fa-3x"></i></a>  <a hrref="#"><i class="fa fa-github fa-3x"></i></a>
          </div>
        </div>
      </div><!-------colmd3---->
      
    </div><!-------row---->
    
  </div><!-------alumni---->
</div><!-------container-->
