<body class="course">
<div class="courses">
  <h1>DATA SCIENCE BOOTCAMP</h1>
  <h2>New York City</h2>
  <p class="italics"><i>in-person instruction + ongoing career coaching + job placement support</i></p><br>

  <p>Spring bootcamp: April 6, 2015 - June 26, 2015</p>

  <p class="italics"><i>Final Application Deadline: Monday, March 9</i></p><br>

  <p>Summer bootcamp: June 29, 2015 - September 18, 2015</p><br>

  <p class="italics"><i>Early Application Deadline*: Monday, May 11</i></p>
  <p class="italics"><i>Final Application Deadline: Monday, June 1</i></p>
  <br>
  <div class="text-center">
      <a href="#" class="btn btn-primary">Contact Us</a>
      <a href="#" class="btn btn-info">Apply Now</a>
      <a href="#" class="btn btn-warning">Learn More</a>
  </div>
  <br><br><br>
  
  <p class="italics"><i>*Applying early better ensures that you will have a seat in the next cohort if you are accepted. Because seats are limited, accepted students that wait until the final application deadline may be invited to join the following cohort.</i></p>
  <br><br>
  
  
</div>
  
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
        <h3>GET SKILLED</h3>
        <p>Learn Data Science in 12 weeks with 100% in-person instruction with experts from Datascope Analytics.
Watch a Q&A with instructor Irmak Sirer to Learn More.</p>
      </div>
      <div class="col-md-4">
        <h3>GET CONNECTED</h3>
        <p>A busy Speakers and Events schedule and daily project work with instructors ensures that you are well-networked by graduation.</p>
      </div>
      
      <div class="col-md-4">
        <h3>GET HIRED</h3>
        <p>Leave fully qualified for an entry-level data scientist job. Placement Programs are available to all graduates.</p>
      </div>
    </div>
  </div>
  
  <br><br>
  
  <h4 class="text-center">Meet the team </h4>
  
   <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
                <div class="course-wrapper">
                    <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg"  data-toggle="modal" data-target="#myModal"  >
                    
                    <h3>Joe Smith</h3>
                    <p>Chief Executive Officer</p>
                   <p>Leah, a seasoned administrative professional, is passionate about connecting to people and helping them achieve their educational goals.</p>
                  </div>
      </div>
      <div class="col-md-4">
        <div class="course-wrapper">
                    <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg"  data-toggle="modal" data-target="#myModal"  >
                    
                    <h3>Joe Smith</h3>
                    <p>Chief Executive Officer</p>
                  <p>Leah, a seasoned administrative professional, is passionate about connecting to people and helping them achieve their educational goals.</p>
                  </div>
      </div>
      
      <div class="col-md-4">
        <div  class="course-wrapper">
                    <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg"  data-toggle="modal" data-target="#myModal"  >
                    
                    <h3>Joe Smith</h3>
                    <p>Chief Executive Officer</p>
                    <p>Leah, a seasoned administrative professional, is passionate about connecting to people and helping them achieve their educational goals.</p>
                  </div>
      </div>
    </div>
     
     
     <h2> Meet the Hiring Partners </h2>
    
         <p style="font-size:20px" >We are committed to helping you find a job after graduation. That process begins with our Career Day.</p>
   
     <p>Here is a sample of some of the companies you might meet:</p>
  </div>
  
  <div class="sponsors">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-offset-2">
          <img src="http://res.cloudinary.com/bisonshare/image/upload/v1425556497/continuum_lnfdon.jpg">
        </div>
        <div class="col-md-3">
          <img src="http://res.cloudinary.com/bisonshare/image/upload/v1425556535/enova_bqznbh.jpg">
        </div>
        <div class="col-md-3">
          <img src="http://res.cloudinary.com/bisonshare/image/upload/v1425556582/davinci_zlrjio.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-2">
          <img src="http://res.cloudinary.com/bisonshare/image/upload/v1425556497/continuum_lnfdon.jpg">
        </div>
        <div class="col-md-3">
          <img src="http://res.cloudinary.com/bisonshare/image/upload/v1425556535/enova_bqznbh.jpg">
        </div>
        <div class="col-md-3">
          <img src="http://res.cloudinary.com/bisonshare/image/upload/v1425556582/davinci_zlrjio.jpg">
        </div>
      </div>
       <div class="row">
        <div class="col-md-3 col-md-offset-2">
          <img src="http://res.cloudinary.com/bisonshare/image/upload/v1425556497/continuum_lnfdon.jpg">
        </div>
        <div class="col-md-3">
          <img src="http://res.cloudinary.com/bisonshare/image/upload/v1425556535/enova_bqznbh.jpg">
        </div>
        <div class="col-md-3">
          <img src="http://res.cloudinary.com/bisonshare/image/upload/v1425556582/davinci_zlrjio.jpg">
        </div>
      </div>
    </div>
  </div>
  
  <div class="course-image container">
    <div class="course-details-container">
      <h3>THE DETAILS</h3>
      This bootcamp runs in-person for 12 weeks, Monday through Friday, from 9 am - 6 pm. Listen to instructor Irmak Sirer describe our philosophy and program in detail.

      <h3>THE PRE-REQUISITES</h3>
      Applicants must have some previous experience programming (writing code) and studying or using statistics.

      <h3>THE OUTCOME</h3>
      Upon graduating, you will be comfortable designing, implementing, and communicating the results of a data science project, including knowing the fundamentals of data visualization and having introductory exposure to modern big data tools and architecture such as the Hadoop stack. You should feel confident pursuing a job as an entry-level data scientist or data analyst. Read our syllabus

      <h3>TOTAL COST: $14,000 FOR 12 WEEKS.</h3>
      We offer a $2,000 scholarship for women, underrepresented minority groups, and veterans or members of the U.S. military.
    </div>
    
  </div>
  <br><br> <br><br> <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h4>BOOTCAMP STRUCTURE & SYLLABUS</h4>

        <p>The bootcamp experience is intense, but we aim to maximize learning while preventing burn-out. Metis believes that a student’s brain is like a muscle, and to grow without injury the brain must take time to recover. Each Monday - Friday consists of, on average, three hours of group classroom instruction and five hours of practical skill development and project work.</p>
      <hr>
        <h2>Online Pre-Work</h2>

        <p>We’ll provide a Command Line Crash Course, tutorials to become familiar with Python, and a number of package installation tutorials (i.e., numpy, scipy, pandas, scikit.learn), as well as some preliminary statistics work. Test-out/check-out modules will let students know when they are “prepared enough” for class.</p>

        <p>After the at-home pre-work phase, we will convene in class and spend our first 9 weeks together doing iterative, project-centered skill-acquisition. Over the course of four data science projects we’ll "train up" different key aspects of data science, and results from each project will be added to the students' portfolios. In the last three weeks, students build out and complete their individual Passion Projects, culminating in a Career Day reveal of their work to representatives from our Metis Hiring Partners.</p>

        <h3>PROJECT 1 (CODENAME BENSON)</h3>

        <h2>Week 1 : Jumping right in</h2>

        <p>Students will complete an entire bite-sized data science project from start to finish. We’ll start using the IPython environment and Git for version control, use the pandas package to perform exploratory statistical analyses, and publish the results using the matplotlib package.</p>

        <h3>PROJECT 2 (CODENAME LUTHER)</h3>

        <h2>Week 2: Design Process, Web Scraping</h2>

        <p>For Project 2, students start to learn one of the most important tools a data scientist uses: the iterative design process. We’ll learn tools for web scraping and start fitting simple models to data. Also, we introduce cloud computing: students will work on remote servers.</p>

        <br><h2>Week 3: Regression, Communicating Results</h2>

        <p>We’ll go in-depth on regression using modules from scikit.learn and matplotlib. Choosing among the analysis methods and approaches to reporting their results, students will finish the second project and present their findings.</p>

       <br> <h3>PROJECT 3 (CODENAME MCNULTY)</h3>
  
        <h2>Week 4: Databases, Machine Learning Concepts, Intro to Supervised Learning</h2>

          <p>We cover relational databases such as SQL and more ways of obtaining, cleaning and maintaining data. We overview the concepts of machine learning and introduce classification and supervised learning with a few examples such as logistic regression and KNN. We will also discuss different types of feasibility related to data science questions and projects.</p>

       <br><h2> Week 5: Supervised Learning In-Depth</h2>

       <p> More detail and more algorithms for supervised learning including SVM, decision trees and random forests; techniques for feature selection and feature extraction; concepts and applications for deep learning. Students will choose to apply one or more of these algorithms as part of this unit’s project. </p>

        <br><h2>Week 6: Data Visualization, JavaScript and D3</h2>

        <p>We will visualize our projects using D3.js, a favorite tool for flexible and attractive presentations of data and relationships. Since D3 is a JavaScript library, we’ll also cover some JavaScript essentials, and talk about incorporating other js libraries (jQuery, crossfilter, Bootstrap, etc.) that can make the job much easier.</p>

        <h3>PROJECT 4 (CODENAME FLETCHER)</h3>

        <h2> Week 7: APIs and other Data Acquisition Methods, NoSQL Databases</h2>

        <p>The project for the fourth unit will involve text data. We’ll round out data acquisition methods with APIs and online database servers. The students will also learn about NoSQL databases and start using MongoDB.</p>

        <br><h2>Week 8: NLP, Naive Bayes, Special "Big Data" Topics</h2>

        <p>We’ll analyze the text data collected in the previous week and learn about naive Bayes and NLP algorithms. We’ll learn about how large amounts of data are handled, discussing parallel computing and Hadoop MapReduce.</p>

        <br><h2>Week 9: Unsupervised Learning</h2>

       <p> Greater depth on unsupervised learning and more algorithms, covering K-means, hierarchical clustering, mixture models and topic models. Project 4 presentations will be presented as lightning talks.</p>

        <br><h3>PROJECT 5 (CODENAME KOJAK)</h3>

        <h2> Weeks 10-12: Passion Projects</h2>

        <p>Students switch gears and work full time on their Passion Projects (which they've been designing in bits and pieces through the first 9 weeks). They will also learn more on cloud computing, system architectures and feasibility evaluations.</p>

        <h2 class="text-center">OBJECTIVES</h2>

       <p> Upon graduating from the Data Science bootcamp, a student will be prepared to take an entry-level position on a Data Science team as a data scientist or data analyst. This means a student will:</p>
      <ul>
       <li><p> Have a fluid understanding of and practical experience with the process of designing, implementing, and communicating the results of a data science project.</p></li>
       <li> <p>Be capable coders in Python and at the command line, including the related packages and toolsets most commonly used in data science.</p></li>
        <li><p>Understand the landscape of data science tools and their applications, and be prepared to identify and dig into new technologies and algorithms needed for the job at hand.</p></li>
        <li><p>Know the fundamentals of data visualization and have experience creating static and dynamic data visuals using JavaScript and d3.js.</p></li>
        <li><p>Have introductory exposure to modern big data tools and architecture such as the Hadoop stack, know when these tools are necessary, and be poised to quickly train up and utilize them in a big data project.</p></li>
        </ul> 
        <h2 class="text-center">Speakers & Events</h2>

        <p>The Speakers and Events calendar for the Data Science Bootcamp is scheduled throughout the program period. Most are intended for students only, but applicants may request an invitation to visit Metis and join us for an in class speaker session. All events are held at Metis, 79 Madison Avenue, 3rd floor, New York, NY unless otherwise noted.</p>
        
       <h3> FIRESIDE CHATS</h3>

    <p>Fireside Chats (student only events) allow our students to engage with leaders from technology companies in a casual, informal setting. These Q&A chats give our students an employer’s perspective on the application process, company culture, interviews do’s and don’ts, and the digital scene. The events are for students only, however, if you are an applicant for a future Data Science Bootcamp you may request an invitation to an event. In your request please let us know which speaker you would like to see.</p>
        
        <br><br><br>
        <div class="fireside">
          <div class="row">
            <div class="col-md-6">
              <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg">
                  <div class="caption"> <p><strong>Randy Carnevale<br></strong>
                      Sr. Mgr., Data Scientist, Capital One<br>
                    <b>Wednesday, January 28 at 5:00pm</b> <p>
                  </div>
            </div>
            <div class="col-md-6">
              <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg">
                  <div class="caption"> <p><strong>Randy Carnevale<br></strong>
                      Sr. Mgr., Data Scientist, Capital One<br>
                    <b>Wednesday, January 28 at 5:00pm</b> <p>
                  </div>
            </div>
        </div>
          <br><br>
           <div class="row">
            <div class="col-md-6">
              <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg">
                  <div class="caption"> <p><strong>Randy Carnevale<br></strong>
                      Sr. Mgr., Data Scientist, Capital One<br>
                    <b>Wednesday, January 28 at 5:00pm</b> <p>
                  </div>
            </div>
            <div class="col-md-6">
              <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg">
                  <div class="caption"> <p><strong>Randy Carnevale<br></strong>
                      Sr. Mgr., Data Scientist, Capital One<br>
                    <b>Wednesday, January 28 at 5:00pm</b> <p>
                  </div>
            </div>
        </div>
          <br><br>
           <div class="row">
            <div class="col-md-6">
              <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg">
                  <div class="caption"> <p><strong>Randy Carnevale<br></strong>
                      Sr. Mgr., Data Scientist, Capital One<br>
                    <b>Wednesday, January 28 at 5:00pm</b> <p>
                  </div>
            </div>
             
            <div class="col-md-6">
              <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg">
                  <div class="caption"> <p><strong>Randy Carnevale<br></strong>
                      Sr. Mgr., Data Scientist, Capital One<br>
                    <b>Wednesday, January 28 at 5:00pm</b> <p>
                  </div>
            </div>
        </div>
          <br><br>
           <div class="row">
            <div class="col-md-6">
              <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg">
                  <div class="caption"> <p><strong>Randy Carnevale<br></strong>
                      Sr. Mgr., Data Scientist, Capital One<br>
                    <b>Wednesday, January 28 at 5:00pm</b> <p>
                  </div>
            </div>
            <div class="col-md-6">
              <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg">
                  <div class="caption"> <p><strong>Randy Carnevale<br></strong>
                      Sr. Mgr., Data Scientist, Capital One<br>
                    <b>Wednesday, January 28 at 5:00pm</b> <p>
                  </div>
            </div>
        </div>
          <br><br>
           <div class="row">
            <div class="col-md-6">
              <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg">
                  <div class="caption"> <p><strong>Randy Carnevale<br></strong>
                      Sr. Mgr., Data Scientist, Capital One<br>
                    <b>Wednesday, January 28 at 5:00pm</b> <p>
                  </div>
            </div>
            <div class="col-md-6">
              <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg">
                  <div class="caption"> <p><strong>Randy Carnevale<br></strong>
                      Sr. Mgr., Data Scientist, Capital One<br>
                    <b>Wednesday, January 28 at 5:00pm</b> <p>
                  </div>
            </div>
        </div>
      </div>
        
           <br><br><br>
  <div class="text-center">
    <p>Spring bootcamp: April 6, 2015 - June 26, 2015</p>

  <p class="italics"><i>Final Application Deadline: Monday, March 9</i></p><br>

  <p>Summer bootcamp: June 29, 2015 - September 18, 2015</p><br>

  <p class="italics"><i>Early Application Deadline*: Monday, May 11</i></p>
  <p class="italics"><i>Final Application Deadline: Monday, June 1</i></p>
  <br>
  <div class="text-center">
      <a href="#" class="btn btn-primary">Contact Us</a>
      <a href="#" class="btn btn-info">Apply Now</a>
      <a href="#" class="btn btn-warning">Learn More</a>
  </div>
  <br><br><br>
  
  <p class="italics"><i>*Applying early better ensures that you will have a seat in the next cohort if you are accepted. Because seats are limited, accepted students that wait until the final application deadline may be invited to join the following cohort.</i></p>
  <br><br>
  </div>
        
        
        <hr>
        <i>Metis is accredited by the Accrediting Council for Continuing Education & Training (ACCET), a U.S. Department of Education nationally recognized agency. </i>
      </div>
  </div>
   <br><br><br> <br><br><br><br><br>
   <br>
  
  
  
  
  
  
  
  <!-- Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
             <div class="wrapper"> 
               <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989976/instructors_laura_kyu1mp.jpg" > 
               <h1>Laura Montemayor</h1>
               <p>Laura, a developer bootcamp graduate, is passionate about bringing people into technology and making things happen.</p>
        </div>

      </div>
      <div class="modal-body">
      </div>
    
    </div>
  </div>
</div>
  