<div class="courses">
  <h1>DATA SCIENCE BOOTCAMP</h1>
  <h2>New York City</h2>
  <p class="italics"><i>in-person instruction + ongoing career coaching + job placement support</i></p><br>

  <p>Spring bootcamp: April 6, 2015 - June 26, 2015</p>

  <p class="italics"><i>Final Application Deadline: Monday, March 9</i></p><br>

  <p>Summer bootcamp: June 29, 2015 - September 18, 2015</p><br>

  <p class="italics"><i>Early Application Deadline*: Monday, May 11</i></p>
  <p class="italics"><i>Final Application Deadline: Monday, June 1</i></p>
 
</div>