
<body class="landing">
<div class="home">
  <div class="container ">
     <div class="head" >
        <div class="center logo"><%= image_tag("logo.png") %></div>
       <br><br>
        <h1>Data Science Bootcamps</h1>
        <h2>WHAT DOES METIS DO?</h2>

        <p>Metis accelerates your career in data science. Our immersive courses, designed by world-class industry practitioners, provide you with intensive, on-site instruction, access to an extensive network of speakers and mentors, and ongoing career coaching and job placement support. 
          Our goal is to prepare you to succeed as a data scientist.</p>

        <p><i> – Welcome to Metis. <br> <br> <%= link_to "LEARN MORE", root_path , class:"btn btn-lg btn-danger" %></i></p>

      <br><br><br><br>
   </div>
  </div>  
    <div class="succeed">
            <h2>OUR COMMITMENT</h2>
            <p>To help you succeed, we commit to:</p>
            <ul>
                <li><strong>Train you to think and act like a data scientist</strong>, which starts with asking the right questions and constantly adapting as new information is learned.</li>

                <li><strong>Teach you the most essential skills and technologies</strong> to establish a baseline knowledge from which you can springboard into your next job.</li>

                <li><strong>Immerse you in real-world, complex problems</strong> that you will unravel to create a robust portfolio of projects.</li>

                <li><strong>Create opportunities to connect with prospective employers</strong> and present to them your skills and passion.</li>

                <li><strong>Provide you with excellent student support</strong> so that your attention remains exclusively focused on becoming a data scientist.</li>

                <li><strong>Inject continual fun, passion, and excitement</strong> into your experience at Metis.</li>
            </ul>
      <br>
            <h2> OUR PHILOSOPHY </h2>

                <p>We strive, we sweat, we swear.<br>
                We go the extra mile.<br>
                We stage, we fail.<br>
                We try again. Get it right.<br>
                We learn. Connect. Come together.<br>
                <strong> Welcome to Metis.</strong> </p>
      <br>
            <h2> OUR Team </h2>
            <div class="container">
              <div class="row">
                
                <div class="col-md-2">
                  <div class="wrapper">
                      <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424988559/bo_hdowai.jpg"  data-toggle="modal" data-target="#myModal"  >
                    <h3>Bo Peng</h3>
                    <p>Instructor</p>
                  </div>
                </div>
              
              <div class="col-md-2">
                  <div class="wrapper">
                    <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg"  data-toggle="modal" data-target="#myModal"  >
                    
                    <h3>Emily Smith</h3>
                    <p>Professionals</p>
                  </div>
                </div>
              
                <div class="col-md-2">
                  <div class="wrapper">
                    <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989837/jas_pc5c3y.jpg"  data-toggle="modal" data-target="#myModal"  >
                    
                    <h3>Joe Smith</h3>
                    <p>Chief Executive Officer</p>
                  </div>
                </div>
                
                 <div class="col-md-2">
                  <div class="wrapper">
                     <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989976/instructors_laura_kyu1mp.jpg"  data-toggle="modal" data-target="#myModal"  >
                  
                    <h3>Brenda White</h3>
                    <p>Proffesional Person</p>
                  </div>
                </div>
                
                 <div class="col-md-2">
                  <div class="wrapper">
                     <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989974/instructors_lillian_aygner.jpg"  data-toggle="modal" data-target="#myModal"  >
                   
                    <h3>Le-A Knowles</h3>
                    <p>Fashionista</p>
                  </div>
                </div>
                
            </div>

     </div>
      <br><br>
       <div class="container">
              <div class="row">
                
                <div class="col-md-2">
                  <div class="wrapper">
                    <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424988559/bo_hdowai.jpg"  data-toggle="modal" data-target="#myModal"  >
                  
                    <h3>Bo Peng</h3>
                    <p>Instructor</p>
                  </div>
                </div>
              
              <div class="col-md-2">
                  <div class="wrapper">
                    <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989839/tar_kehltm.jpg"  data-toggle="modal" data-target="#myModal"  >
                  
                    <h3>Jerome Brown</h3>
                    <p>Rapper</p>
                  </div>
                </div>
              
                <div class="col-md-2">
                  <div class="wrapper">
                    <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg"  data-toggle="modal" data-target="#myModal"  >
                    
                    <h3>Susan Garvey</h3>
                    <p>Head of Starbucks</p>
                  </div>
                </div>
                
                 <div class="col-md-2">
                  <div class="wrapper">
                    <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989837/jas_pc5c3y.jpg"  data-toggle="modal" data-target="#myModal"  >
                  
                    <h3>Will Williams</h3>
                    <p>Boy band Singer</p>
                  </div>
                </div>
                
                 <div class="col-md-2">
                  <div class="wrapper">
                    <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989974/instructors_lillian_aygner.jpg"  data-toggle="modal" data-target="#myModal"  >
                   
                    <h3>Berta Wafer</h3>
                    <p>Chief Financial Officer</p>
                  </div>
                </div>
                
            </div><!-----row---->             
     </div><!-----container---->

      
       <h2> OUR Advisors</h2>
            <div class="container">
              <div class="row">
                
                <div class="col-md-2">
                  <div class="wrapper" >
                    <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424988559/bo_hdowai.jpg"  data-toggle="modal" data-target="#myModal"  > 
                    <h3>Bo Peng</h3>
                    <p>Instructor at <br> <strong>Trap House</strong></p>
                  </div>
                </div>
              
              <div class="col-md-2">
                  <div class="wrapper">
                    <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989836/lau_uotqru.jpg" data-toggle="modal" data-target="#myModal"  > 
                
                    <h3>Emily Smith</h3>
                    <p>Professionals at <br><strong>Trap House</strong></p>
                  </div>
                </div>
              
                <div class="col-md-2">
                  <div class="wrapper">
                     <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989837/jas_pc5c3y.jpg" data-toggle="modal" data-target="#myModal"  >
                    
                    <h3>Joe Smith</h3>
                    <p>Chief Executive Officer at <br><strong>Trap House</strong></p>
                  </div>
                </div>
                
                 <div class="col-md-2">
                  <div class="wrapper">
                    <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989976/instructors_laura_kyu1mp.jpg" data-toggle="modal" data-target="#myModal"  >
                   
                    <h3>Brenda White</h3>
                    <p>Proffesional Person at <br><strong>Trap House</strong> </p>
                  </div>
                </div>
                
                
            </div><!-----row---->

     </div><!----containner-->
      <br><br>
      
</div>
  
   <div class="contact-form">
        <div class="form-container">
          <h2> Contact Form </h2>
          
            <input type="text" class="form-control" placeholder="Hello my name is [enter name here] and I'm interested in learning more about the Data Science Bootcamp"> <br>
            <input type="text" class="form-control" placeholder="Please follow up at [enter email address here]"> <br><br>
            <a class="btn btn-lg btn-primary">Submit</a> 
         
        </div>
      </div>
      <br><br><br><br>
  

<!-- Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
             <div class="wrapper"> 
               <img  src="http://res.cloudinary.com/bisonshare/image/upload/v1424989976/instructors_laura_kyu1mp.jpg" > 
               <h1>Laura Montemayor</h1>
               <p>Laura, a developer bootcamp graduate, is passionate about bringing people into technology and making things happen.</p>
        </div>

      </div>
      <div class="modal-body">
      </div>
    
    </div>
  </div>
</div>