.courses h1{
  line-height: 1.5em;
  margin-bottom: .4em;
  text-align: center;
  text-transform: uppercase;
  display: block;
  font-size: 40px;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.courses h2{
  font-family: "Calluna-Regular", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: normal;
  margin-top: 1em;
  text-align: center;
}

.courses p {
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 0.1em;
  text-align: center;
  font-family: "Calluna-It", Georgia, Cambria, "Times New Roman", Times, serif;
font-style: normal;
  font-family: "Calluna-It", Georgia, Cambria, "Times New Roman", Times, serif;
font-style: normal;

}

.courses i {
  font-size: 17px;
}
