.courses h1{
  line-height: 1.5em;
  margin-bottom: .4em;
  text-align: center;
  text-transform: uppercase;
  display: block;
  font-size: 40px;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.courses h2{
  font-family: "Calluna-Regular", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: normal;
  margin-top: 1em;
  text-align: center;
}

.courses p {
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 0.1em;
  text-align: center;
  font-family: "Calluna-It", Georgia, Cambria, "Times New Roman", Times, serif;
font-style: normal;
  font-family: "Calluna-It", Georgia, Cambria, "Times New Roman", Times, serif;
font-style: normal;

}

.courses i {
  font-size: 17px;
}

p{
font-family: "Calluna-Regular", Georgia, Cambria, "Times New Roman", Times, serif;
margin: 0 0 0.75em;
  color: #333;
  font-size: 16px
}

h3{
  -webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;;
font-size: 16px;
font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
margin-bottom: 1em;
text-align: center;
text-transform: uppercase;
}

h4{
  -webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;;
font-size: 22px;
font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
margin-bottom: 1em;
text-align: center;
text-transform: uppercase;
}

h2{
  color: #333;
font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  display: block;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

.course-wrapper img{
  border-radius: 100px;
max-width: 200px;
margin: auto;
display: block;
margin-bottom: 2em;
}

.sponsors img{
  height: auto;
max-width: 200px;
}

.course-image{
  background: url("http://res.cloudinary.com/bisonshare/image/upload/v1425556865/wework_2x_zv4013.jpg"),center center no-repeat;
  background-size: cover;
  display: table-cell;
  width: 40%;
  overflow: hidden;
}

.course-details-container{
  color: white;
  display: table-cell;
  width: 60%;
  min-height: 400px;
  background-color: #f75029;
  float:right;
}

.course-details-container  h3 {
color: white;
font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
font-weight: 700;
text-align: left;
}

.course-details .course-image {
overflow: hidden;
padding: 2.35765%;
display: table-cell;
width: 40%;
overflow: hidden;
}

.course-image:before{
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
.course-details h3{
  font-size:16px;
}

h2{
  font-size:22px;
  text-align:left;
}

.fireside img{
border-radius: 100px;
max-width: 75px;
display: block;
margin-bottom: 2em;
  float:left;
}